.natisk {
   display: inline-block;
   padding: 15px 25px;
   font-size: 24px;
   cursor: pointer;
   text-align: center;
   text-decoration: none;
   outline: none;
   color: #fff;
   background-color: #4CAF50;
   border: none;
   border-radius: 15px;
   box-shadow: 0 9px #999;
 }
 
.natisk:hover {background-color: #3e8e41}

.natisk:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.Anime {
   display: inline-block;
   width: 150px;
   height: 150px;
   background-color: #4CAF50;
   position: relative;
   animation: Anime 5s infinite;
   animation-duration: 8s infinite;    
    }


@keyframes Anime{
   from{
      transform: rotateX(0deg);
      opacity: 0;
      background-color: aqua;
      left: 0px;
   }
   to{
      transform: rotateX(360deg);
      opacity: 4;
      background-color: #666;
      left: 200px;
   }
}

